body {
  background-color: #f4f7fe;
  font-family: "Lato", sans-serif;
  color: #080824;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: 0.5s;
}

button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border: 0;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.header {
  margin-left: 15%;
  margin-right: 15%;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 20px 0px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .central {
  width: 500px;
}

.central .title {
  margin-top: 30px;
}
.central .title h1 {
  font-weight: 900;
  text-align: center;
}

.central .description {
  margin-top: 60px;
}
.central .description h2 {
  font-weight: 400;
  text-align: center;
}

.central .upload-area {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  display: inline-block;
}

.inputfile-1 + label {
  font-weight: 700;
  color: #ffffff;
  background-color: #3454f5;
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgb(52 84 245 / 25%);
  padding: 15px 65px;
  cursor: pointer;
}
.inputfile-1 + label svg {
  color: #ffffff;
}
.inputfile-1:focus + label,
.inputfile-1 + label:hover {
  background-color: #e4347f;
  box-shadow: 0px 4px 20px rgb(228 52 127 / 25%);
}

.inputfile-2 + label {
  font-weight: 700;
  border: 3px dashed #3454f5;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgb(52 84 245 / 25%);
  padding: 35px 60px;
  cursor: move;
}
.inputfile-2 + label img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.inputfile-2:focus + label,
.inputfile-2 + label:hover {
  border: 3px dashed #e4347f;
  box-shadow: 0px 4px 20px rgb(228 52 127 / 25%);
}
